In [17]:
import numpy as np
import gensim
from gensim.models import word2vec
from gensim.models import KeyedVectors
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [7]:
word_vectors = KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin',binary=True)

In [8]:
def odd_one_out(words):
    '''accept a list of words and return the odd one out'''
    #Generate all word embeddings for the given list of words
    
    all_vectors = [word_vectors[w] for w in words]
    #find mean vector along column as each word vector is of shape (300,)
    mean_vector = np.mean(all_vectors,axis=0)
    #find cosine similarity of each vector with mean_vector
    min_sim = 1.0
    odd_1_out = None
    for w in words:
        sim = cosine_similarity([word_vectors[w]],[mean_vector])
        if sim<min_sim:
            min_sim = sim
            odd_1_out = w
    return odd_1_out

In [9]:
input_1 = ["apple","mango","juice","party","orange"] 
input_2 = ["music","dance","sleep","dancer","food"]        
input_3  = ["match","player","football","cricket","dancer"]
input_4 = ["india","paris","russia","france","germany"]

In [10]:
odd_one_out(input_1)

'party'

In [11]:
odd_one_out(input_2)

'sleep'

In [12]:
odd_one_out(input_3)

'dancer'

In [13]:
odd_one_out(input_4)

'paris'

In [16]:
odd_one_out(["mother","brother","father","uncle"])

'mother'

In [26]:
test = pd.read_csv("Test.csv").values

In [34]:
test.shape
for l in range(test.shape[0]):
    print(test[l])

['elephant' 'lion' 'tiger' 'goat' 'snake']
['man' 'policeman' 'fireman' 'teacher' 'postman']
['plane' 'bird' 'rocket' 'balloon' 'cat']
['onion' 'celery' 'lettuce' 'pineapple' 'potato']
['India' 'football' 'hockey' 'cricket' 'swimming']
['who' 'why' 'what' 'where' 'is']
['on' 'in' 'over' 'their' 'was']
['India' 'Australia' 'Japan' 'Russia' 'China']
['Dollar' 'Rupees' 'Euros' 'Cents' 'Money']
['eat' 'sleep' 'drink' 'think' 'dance']
['car' 'scooter' 'bike' 'bicycle' 'ship']
['Poland' 'Russia' 'England' 'Rome' 'Ukraine']
['Lake' 'Sea' 'River' 'Pool' 'Pond']
['Sun' 'Moon' 'Star' 'Mars' 'Egypt']
['fox' 'wolf' 'jackal' 'mouse' 'panther']
['veil' 'turban' 'helmet' 'shirt' 'hat']
['Physics' 'Chemistry' 'Geography' 'Botany' 'Universe']
['Assassinate' 'Kill' 'Kidnap' 'Stab' 'Murder']
['Hostel' 'Hotel' 'Inn' 'Club' 'Motel']
['Earth' 'Mars' 'Neptune' 'Pluto' 'Sun']

In [37]:
ans = []
for l in range(test.shape[0]):
    ans.append(odd_one_out(test[l]))

In [38]:
print(ans)

['snake', 'teacher', 'cat', 'pineapple', 'India', 'is', 'was', 'Australia', 'Money', 'think', 'ship', 'Rome', 'Pool', 'Egypt', 'mouse', 'helmet', 'Universe', 'Kill', 'Club', 'Sun']

In [39]:
ans_df = pd.DataFrame({"oddOne":ans})

In [40]:
ans_df.to_csv("ans.csv",index = False)

In [41]:
df = pd.read_csv("ans.csv")

In [42]:
df

       oddOne
0       snake
1     teacher
2         cat
3   pineapple
4       India
5          is
6         was
7   Australia
8       Money
9       think
10       ship
11       Rome
12       Pool
13      Egypt
14      mouse
15     helmet
16   Universe
17       Kill
18       Club
19        Sun